<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/main.min.css" rel="stylesheet" />
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/app/HorseRaceApp.js"></script>
    <script src="Scripts/app/RandomService.js"></script>
    <script src="Scripts/app/horseController.js"></script>
    <title>Horse Race JS</title>
</head>
<body ng-app="horseRaceApp">
    <div class="container" ng-controller="horseController">
        <header class="page-header">
            <h1>Horse Race JS!</h1>
        </header>
        <section>
            <form role="form">
                <fieldset>
                    <div class="form-group">
                        <label for="horseName" class="control-label">Horse name</label>
                        <div class="input-group">
                            <input type="text" id="horseName" placeholder="Enter your horse name" class="form-control" ng-model="horseName" ng-disabled="raceInProgress"/>
                            <span class="input-group-btn">
                                <input type="submit" value="Add" class="btn btn-success" ng-click="addHorse(horseName)" ng-disabled="horseName == '' || horseName == undefined"/>
                            </span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </section>
        <hr ng-show="horses.length != 0"/>
        <section>
            <div class="row">
                <div ng-repeat="horse in horses">
                    <label for="horse" class="control-label col-sm-2">{{horse.name}}</label>
                    <div class="col-sm-10">
                        <uib-progressbar max="maxValue" value="horse.position" type="{{horse.contestantType()}}"/>
                    </div>
                </div>
            </div>
        </section>
        <hr/>
        <section>
            <input type="button" value="Start race" class="btn btn-block btn-success" ng-click="startRace()" ng-disabled="raceInProgress || horses.length == 0"/>
            <input type="button" value="Reset" class="btn btn-block btn-danger" ng-click="resetHorses()" ng-disabled="raceInProgress || horses.length == 0" />
        </section>

        <footer>
            
        </footer>
    </div>
</body>
</html>